
    
.select2-container--default .select2-selection--single{
    background-image: #1f201f;
    color: #a0a0a0;
    border:0;
    
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #a0a0a0;
}




.textD-select-box{
    span.select2-dropdown.select2-dropdown--below {
        width: 115px!important;
        margin-left: -6px!important;
    }
    span.selection{
        margin-top: 0!important;
    }
    span.select2-dropdown.select2-dropdown--below {
        background: #e8e8e8;
    }
    ul#select2--results li {
        color: #494d49;
    }
    span.select2-results {
        margin-left: 0!important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        line-height: 1!important;
    }
    span#select2--container{
        margin-top: 0 ;
    }
    .select2-container .select2-selection--single{
        height: 100%;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow{
        height: 100%;
        margin-top: 0px!important;
    }
    span.select2-selection.select2-selection--single{
        margin-top: 0!important;
    }
    span.select2-search.select2-search--dropdown {
        display: none!important;
    }
    span.select2-selection.select2-selection--single {
        background: transparent;
        margin-left: 0;
    }
    .select2-container .select2-selection--single .select2-selection__rendered{
        padding-bottom: 5px;
        line-height: 1;
        padding-left: 0;
        width: 96px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }
    #icontext span, .propertiesdialog .control-group span{
        margin-top: 0;
    }
   
    .select2-container .select2-selection--single{
        height: 100%;
    }
    .select2{
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKoAAAAYCAYAAABqdGb8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAGeSURBVHja7NqxbhNBFAXQe9/MbDxjKymQUiJwQUfBig4XpOIPUrrgC/gVfoJPQOIT0tEgUSB3FvTI0q7s2UdjlBShCop3pXvaXTdPV3ffk0wAT3LOT0spr83subsPAEBygMjjoMMJB0g6jb3RfvZ9f7Pb7Tb7/b7G84vzNznnDyRfAUh3fuyanzxmWO/mLoRQSyy/AHzsuu5LnM1m75umWQ0+pGOiNTI5GffbfiR5UUq5bs6aeYwxviCZDHabaZFT1eqxKI+BdZLPUkwvI8lwrFve86LISQMLIsDRRJJ+3+deK4CMZhuADwZA172MnmkEMoVWNZLaR0WNKvLQNiXpCqpMwj+vfpHxnP2uT79MZ0fVJSXaUUX+S6NqP5UptKoaVaZz9WsMMoVjSkRBFXnofgrArdaqUciY0d1pi8Wiq7Xq9JdxpZOEmTGE0KWUfttqtfpWa+3/PhQ56S5qhpQScs6Yz+eH5XL5o23br7Ft20+bzeZyu92+q7Xa4XDQ3/7kJEIIaJoGpRTkWR5yyd/X6/Xnq7dXN38AAAD//wMACIx0vRTnm20AAAAASUVORK5CYII=);
        height: 24px;
        border: none;
        color: #a0a0a0;
        border-top-right-radius: 3px;
        color: #a0a0a0;
        border-bottom-right-radius: 3px;
    
    }
}
// .media-select{
//     background-color: #1f201f;
//     color: #a0a0a0;
//     height: 28px;
//     border: 0;
//     width: 50px;
//     padding-left: 5px;
//     option{
//         text-align: center;
//         display: block;
//         width: 100px;
//     }
// }
.media-select .select2.select2-container{
    width: 50px!important;
}
.media-select .select2-dropdown.select2-dropdown--below{
    width: 150px!important;
    background-color: #e8e8e8;
    color: #000;
    transform: translateX(-65%);
}
.media-select{
    .select2-selection__rendered{
        >span{
            >i{
                font-size: 20px;
            }
        }
    }
    .fa-mobile-phone{
        font-size: 27px;
    }
}
.media-select .select2-container .select2-selection--single .select2-selection__rendered{
    text-overflow:unset;
}

#iconwrapp .media-select {
    margin-left: 20px;
}
#hautbas {
    @media (min-width: 320px) {
        // background-image: url(../img/design/download-mobile.png);
        background-repeat: repeat;
        // height: 105px;
        height: 80px;
        background-position: 10px;
        #haut{
            // border-bottom:1px solid rgba(160 ,160 ,160 , .28);
        }
    }
    @media (min-width: 1360px) {
        height: 80px;
        background-repeat: repeat;
        
    }


 
    #haut{
        padding-right: 60px;
        #logo_container{
            order: 1;
        }
        
        #navbar{
            order: 3;
        }
        .subnav-1{
            order: 4;
        }
        .o-button-group{
            order: 2;
            min-width: 310px;
        }
        @media (min-width:790px) {
            #logo_container{
                order: 1;
            }
            #navbarmenu{
                order: 3;
            }
            #navbar{
                order: 2;
            }
            .subnav-1{
                order: 4;
            }
            .o-button-group{
                order: 3;
            }
        }
        
    }
    @media (max-width: 1069px) {
    #haut{
        padding-right: 30px;
        #logo_container,#navbar,#gn-menu{
            flex: 0 0 auto;
        }
        #logo_container{
            // width: 20%;
        }
        #navbar{
            // width: 30%;
            .btn-group{
                width: 90px;
            }
        }
        #iconwrapp{
            // width: 35%;
            .btn-group.prevpublish{
                // padding-right: 30px;
            }
        }
        
    }
}
@media (max-width: 958px) {
    #haut{
        padding-right: 30px;
        // #logo_container,#navbar,#gn-menu{
        //     flex: 0 0 auto;
        // }
        #logo_container{
            // width: 100%;
            min-width: 150px;
        }
        #navbar{
            // width: 60%;
            .btn-group{
                width: 90px;
            }
        }
        #iconwrapp{
            // width: 60;
            .btn-group.prevpublish{
                // padding-right: 30px;
            }
        }
        
    }
}
}

html #entete #haut{
    
    // height: 51px;
    // flex-wrap: wrap;
    height: 35px;
    top:3px;
    @media (min-width: 1170px) {
    //   height: 51px;
    }
    @media (min-width:1360px){
        height: 35px;
        flex-wrap: wrap;
        
    }
}
html #entete #bas{
    
    display: flex;
    align-items: center;
    // top: 60px;
    height: 35px;
    top: 43px;
    // @media (min-width: 790px) {
  
    //     height: 80px;
    //     top: 60px;
    // }
    // @media (min-width: 1170px) {
    //     top: 60px;
    // }
    @media (min-width: 1360px) {
        // top: 43px;
        
    }
}
html #entete #bas #icontext{
    position: static;
    height: 100%;
    display: flex;
    align-items: center;
}
html #entete #bas #shortcut-icon{
    left: 122px;
    height: 45px;
    display: flex;
    align-items: center;
}

#icontext .body {
    display: flex;
    align-items: center;
}
.o-typo-weight{
    display: flex!important;
    align-items: center;
    label{
        margin-bottom: 0;
        height: 23px;
        min-width: 23px;
        span{
            height: 100%;
            margin-left: 0!important;
            padding: 0!important;
            display: block;
            width: 100%;
            height: 100%;
            background-position: center 2px;
        }
    }
}
#icontext .body>*{
    display: flex;
}

.header-color-picker .minicolors-position-bottom .minicolors-panel {
    top: 100%;
}
.header-color-picker .minicolors-theme-bootstrap .minicolors-swatch {
    left: auto;
    right: 0;
    margin-top: 0!important;
    width: 15px;
    max-height: 22px;
    border: 0;
    top: 1px;
    border-radius: 0;

}
.header-color-picker .minicolors-swatch-color {
margin-left: 0!important;
margin-top: 0!important;
}
.header-color-picker .form-control {
    padding-left: 11px!important;
}

#logo_container #beta{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
}

#toolsbtn{
    height: 67px;
    background-size: 100% 102%;
}
#toolbtnicon{
    top: -40px;
}

.text-decoration-control{
   select{
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    text-align: center;
    option{
        background-color: #e8e8e8;
        color: #000;
    }
   }
}

.control-group{
    label.deactivable-property {
        margin-left: 8px;
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
}
.font-picker-control-group{
    max-width: 150px;
    height: 25px;

}
.font-picker-control{
    width: 100%;
   .font-select{
       width: 100%;
       >span{
        background: url('../img/design/right-input.png');
        width: 100%;
        height: 25px;
        display: flex!important;
        align-items: center;
        margin: 0!important;
        border: 0;
        color: #a0a0a0;
       }

       
       .fs-drop{
           width: 250px;
       }
   }
}

.dropdown-menu{
    padding: 0!important;
}

#navbar{
    .dropdown-toggle{
        &:after{
            border-top-color:#e0081f ;
            margin-left: 5px;
        }
    }
}
.o-body{
    flex-wrap: wrap;
    > div{
        padding-top: 7.5px ;
        padding-bottom: 7.5px ;
    }
}
#shortcut-icon{
    min-width: 60px;
}

.h5, h5 {
    font-size: 14px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}




.media-select-wrapper{
    li{
    list-style: none;
    transition: .4s;
    &:hover{
        background: #c5c5c5;
    }
    }
    .media-select{
        position: relative;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKoAAAAYCAYAAABqdGb8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAGeSURBVHja7NqxbhNBFAXQe9/MbDxjKymQUiJwQUfBig4XpOIPUrrgC/gVfoJPQOIT0tEgUSB3FvTI0q7s2UdjlBShCop3pXvaXTdPV3ffk0wAT3LOT0spr83subsPAEBygMjjoMMJB0g6jb3RfvZ9f7Pb7Tb7/b7G84vzNznnDyRfAUh3fuyanzxmWO/mLoRQSyy/AHzsuu5LnM1m75umWQ0+pGOiNTI5GffbfiR5UUq5bs6aeYwxviCZDHabaZFT1eqxKI+BdZLPUkwvI8lwrFve86LISQMLIsDRRJJ+3+deK4CMZhuADwZA172MnmkEMoVWNZLaR0WNKvLQNiXpCqpMwj+vfpHxnP2uT79MZ0fVJSXaUUX+S6NqP5UptKoaVaZz9WsMMoVjSkRBFXnofgrArdaqUciY0d1pi8Wiq7Xq9JdxpZOEmTGE0KWUfttqtfpWa+3/PhQ56S5qhpQScs6Yz+eH5XL5o23br7Ft20+bzeZyu92+q7Xa4XDQ3/7kJEIIaJoGpRTkWR5yyd/X6/Xnq7dXN38AAAD//wMACIx0vRTnm20AAAAASUVORK5CYII=);
        height: 24px;
        width: 45px;
        border: none;
        color: #a0a0a0;
        padding: 0;
        button{
            background: transparent;
            border: 0;
            color: #fff;
            font-size: 12px;
            display: flex;
            justify-content: center;
            margin: 0;
            padding-right: 0;
            align-items: center;
            line-height: 1;
            width: 100%;
            height: 100%;
        }
    }
    select{
        display: none;
    }
    .select-dropdown-wrapper{
        display: none;
        background-color: #e8e8e8;
        position: absolute;
        top: 100%;
        left:0%;
        z-index: 1000;
        min-width: 90px;
        padding: 5px 0;
        margin: -1px -10% 0 0;
        font-size: 14px;
        background-color: #e8e8e8;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0 ,0, 0 , .18);
        background-clip: padding-box;
        &.show{
            display: block;
        }
        ul{
            max-width: 500px;
            max-height: 200px;
            padding: 0;
            margin: 5px 0 0;
            overflow-x: hidden;
            overflow-y: auto;
            list-style: none;
            text-align: center;
            li{
                color: #000;
                // margin-bottom: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                cursor: pointer;
            }
        }
    }
}



#right_menu {
    background-image: url("../img/design/download-2.png");
}
.o-select{
    li{
        font-size: 14px;
    }
}
.dropdown-menu li a{
    font-size: 14px;
}
// #swapp-palettes h5{}
.position-select-box{
    .select2-search--dropdown{
        display: none;
    }
    .select2-container--default .select2-search--dropdown .select2-search__field {
        display: none;
    }
    .select2-dropdown,.position-select-box .select2-results__options{
        min-width: 100px;
        width: 100%!important;
        background: #e8e8e8;
    }
    .select2-dropdown{
        overflow: hidden;
        border-radius: 4px;
    }
    .select2-results__option--selectable {
        cursor: pointer;
        width: 100%;
        min-height: 26px;
        padding: 3px 20px;
        overflow-x: hidden;
        clear: both;
        font-weight: 400;
        line-height: 1.428571429;
        color: #333;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        font-size: 14px;
        color: #333;
    }
}


.o-button-group{
    display: flex;
    @media (max-width:920px) {
        margin-left: 20px;
    }
}


.btn-group.prevpublish{
    // padding-right: 115px;
    max-width: 140px;
    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }
    #loginbtn {
        height: 30px;
        width: 48px;
        background-repeat: no-repeat;
        background-position-y: -4px;
        
    }
}

.dropdown-menu li a {
    color: #494d49;
    height: 35px;
    padding-bottom: 25px;
    padding-top: 6px;
    background: #e8e8e8;
    border-bottom: 1px solid #d0d0d0;
    
}

#pagebg {
    display: flex;
    justify-content: flex-end;
    .pages-selectbox{
        margin-bottom: 0;
        display: flex;
        align-items: center;
        label{
            margin-bottom: 0;
        }
    }
p,span{
    float: none;
}
#addbtn,#order-pages{
    background: none;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 18px;
}
#order-pages{
    margin-right: 7px;
}
}

#swapp-palettes{
.tabbable.tabs-right{
    .nav{
        flex-direction: column;
    }
    .nav-tabs>li a {
        border-bottom: 1px solid #464646;
        color: #858585;
        font-size: 13px;
        
        display: flex;
        padding: 0px;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        text-align: center;
        font-size: 15px;
        i{
            margin-left: 0;
            height: auto;
        }
        &:hover{
            text-decoration: none;
        }
    }
}
}


#iconwrapp .prevpublish a {
    height: 30px;
    margin-left: 0;
    display: flex;
    align-items: center;
    i{
        margin-right: 2px;
    }
}


  
/* Subnav button */

  
  /* Add a red background color to navigation links on hover */
  .subnav:hover .subnavbtn {
    background-color: red;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav{
    overflow: hidden;
    &.show .subnav-content {
        flex-wrap: wrap;
        opacity: 1;
        visibility: visible;
        pointer-events: visible
      }
  }
  .subnav-1{
    margin-left: auto;
    &.show .subnav-content-1 {
        flex-wrap: wrap;
        opacity: 1;
        visibility: visible;
        pointer-events: visible
      }
      .navbar-toggler {
        background: transparent!important;
        color: #fff !important; 
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-self: center;
        padding-bottom: 0!important;
        margin-bottom: 6px;
        
      }
      .subnav-content-1{
        transform: translateY(0);
        justify-content: center;
      }
  }
  .subnav-content,.subnav-content-1 {
    display: flex;
    position: absolute;
    left: 0!important;
    background-color: #272727;
    width: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(100%);
    padding: 5px 30px 5px 60px;
   
    div {
        // float: left;
        color: white;
        text-decoration: none;
      }
      .group-res.control-group{
          display: flex!important;
            margin-left: 10px;
            margin-bottom: 5px;
            margin-top: 5px;
      }
  }

.subnav{
    .navbar-toggler{
        width: fit-content!important;
        font-size: 20px;
        padding-bottom:2px;
    }
    .subnav-content{
        justify-content: center;
        transform: translateY(28%);
        @media(min-width:588px){
            transform: translateY(40%);
        }
        @media(min-width:799px){
            transform:  translateY(71%);
        }
    }
}
  /* When you move the mouse over the subnav container, open the subnav content */


  #icontext{
      width: calc(100% - 120px);
      .responsive-navigation{
          width: 100%;
      }
  }

  .navbar-toggler {
    background: transparent!important;
    color: #fff !important; 
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-self: center;
    padding-bottom: 18px;
  }


  .right_aside_control {
    z-index: 88!important;
  }
  #entete, #hautbas {
    position: relative;
    z-index: 100;
}


#navbarmenu{
    // order: 5;
    z-index: 999;
    position: relative;
}


.btn-group.prevpublish{
    // padding-right: 30px;
    #playbtn {
        width: calc(100% - 50px);
    }
}

.font-picker-control{
    .fs-search{
        padding: 0;
        border: 0;
        height: 30px;
        input{
            width: calc(100% + 2px);
            // background: url("../img/design/right-input.png")!important;
            background-image: none;
            background-color: #1e1f1e;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: none;
            border: 0;
            margin-left: -1px;
            height: 100%;
            border-radius: 0;
        }
    }
    .fs-results{
        background: #e8e8e8;
       li{
           color: #494d49;
           &.active{
            //    background: #cc060a;
            background: #c5c5c5;
           }
        &:hover{
            background: #c5c5c5;
            // background: #cc060a;
        }
       }
    }
}


.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #c5c5c5;
    color: #494d49;
}

.text-decoration-control select {
    option:checked,
    option:hover {
        background: #c5c5c5;
        color: #494d49;
    }
}


// left Pannel

#fp_thumbContainer {
    height: calc(100% - 65px) !important;
    top: 65px;
    #fp_thumbScroller{
        height: calc(100% - 50px);
    }
    .selectorcontainer .container{
        height: 100%;
        padding-bottom: 50px;
        >div{
            height: 100%!important;
        }
    }
}


// Right Pannel
#right_menu{
    height: calc(100% - 100px)!important;
    overflow: hidden;
}
#swapp-palettes{

}
.tabs-right{
ul.nav{
    height: 101%;
}
>.tab-content{
    height: 100%;
    .tab-pane{
        height: 95%;
        .container{
            height: 100%;
        }
    }
    .nano>.nano-content{
        height: calc(100% - 20px)!important;
    }
}
}
