.select2-container--default .select2-selection--single {
  background-image: #1f201f;
  color: #a0a0a0;
  border: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #a0a0a0;
}

.media-select .select2.select2-container {
  width: 50px !important;
}

.media-select .select2-dropdown.select2-dropdown--below {
  width: 150px !important;
  background-color: #e8e8e8;
  color: #000;
  -webkit-transform: translateX(-65%);
          transform: translateX(-65%);
}

.media-select .select2-selection__rendered > span > i {
  font-size: 20px;
}

.media-select .fa-mobile-phone {
  font-size: 27px;
}

.media-select .select2-container .select2-selection--single .select2-selection__rendered {
  text-overflow: unset;
}

#iconwrapp .media-select {
  margin-left: 20px;
}

@media (min-width: 320px) {
  #hautbas {
    background-repeat: repeat;
    height: 80px;
    background-position: 10px;
  }
}

@media (min-width: 1360px) {
  #hautbas {
    height: 80px;
    background-repeat: repeat;
  }
}

#hautbas #haut {
  padding-right: 60px;
}

#hautbas #haut #logo_container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#hautbas #haut #navbar {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

#hautbas #haut .subnav-1 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

#hautbas #haut .o-button-group {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  min-width: 310px;
}

@media (min-width: 790px) {
  #hautbas #haut #logo_container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #hautbas #haut #navbarmenu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #hautbas #haut #navbar {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #hautbas #haut .subnav-1 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  #hautbas #haut .o-button-group {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 1069px) {
  #hautbas #haut {
    padding-right: 30px;
  }
  #hautbas #haut #logo_container, #hautbas #haut #navbar, #hautbas #haut #gn-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  #hautbas #haut #navbar .btn-group {
    width: 90px;
  }
}

@media (max-width: 958px) {
  #hautbas #haut {
    padding-right: 30px;
  }
  #hautbas #haut #logo_container {
    min-width: 150px;
  }
  #hautbas #haut #navbar .btn-group {
    width: 90px;
  }
}

html #entete #haut {
  height: 35px;
  top: 3px;
}

@media (min-width: 1360px) {
  html #entete #haut {
    height: 35px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

html #entete #bas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  top: 43px;
}

html #entete #bas #icontext {
  position: static;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html #entete #bas #shortcut-icon {
  left: 122px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#icontext .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-typo-weight {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-typo-weight label {
  margin-bottom: 0;
  height: 23px;
  min-width: 23px;
}

.o-typo-weight label span {
  height: 100%;
  margin-left: 0 !important;
  padding: 0 !important;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center 2px;
}

#icontext .body > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-color-picker .minicolors-position-bottom .minicolors-panel {
  top: 100%;
}

.header-color-picker .minicolors-theme-bootstrap .minicolors-swatch {
  left: auto;
  right: 0;
  margin-top: 0 !important;
  width: 15px;
  max-height: 22px;
  border: 0;
  top: 1px;
  border-radius: 0;
}

.header-color-picker .minicolors-swatch-color {
  margin-left: 0 !important;
  margin-top: 0 !important;
}

.header-color-picker .form-control {
  padding-left: 11px !important;
}

#logo_container #beta {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #fff;
}

#toolsbtn {
  height: 67px;
  background-size: 100% 102%;
}

#toolbtnicon {
  top: -40px;
}

.text-decoration-control select {
  padding-bottom: 0px !important;
  padding-left: 10px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  text-align: center;
}

.text-decoration-control select option {
  background-color: #e8e8e8;
  color: #000;
}

.control-group label.deactivable-property {
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.font-picker-control-group {
  max-width: 150px;
  height: 25px;
}

.font-picker-control {
  width: 100%;
}

.font-picker-control .font-select {
  width: 100%;
}

.font-picker-control .font-select > span {
  background: url("../img/design/right-input.png");
  width: 100%;
  height: 25px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
  border: 0;
  color: #a0a0a0;
}

.font-picker-control .font-select .fs-drop {
  width: 250px;
}

.dropdown-menu {
  padding: 0 !important;
}

#navbar .dropdown-toggle:after {
  border-top-color: #e0081f;
  margin-left: 5px;
}

.o-body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.o-body > div {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

#shortcut-icon {
  min-width: 60px;
}

.h5, h5 {
  font-size: 14px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.media-select-wrapper li {
  list-style: none;
  -webkit-transition: .4s;
  transition: .4s;
}

.media-select-wrapper li:hover {
  background: #c5c5c5;
}

.media-select-wrapper .media-select {
  position: relative;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKoAAAAYCAYAAABqdGb8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAGeSURBVHja7NqxbhNBFAXQe9/MbDxjKymQUiJwQUfBig4XpOIPUrrgC/gVfoJPQOIT0tEgUSB3FvTI0q7s2UdjlBShCop3pXvaXTdPV3ffk0wAT3LOT0spr83subsPAEBygMjjoMMJB0g6jb3RfvZ9f7Pb7Tb7/b7G84vzNznnDyRfAUh3fuyanzxmWO/mLoRQSyy/AHzsuu5LnM1m75umWQ0+pGOiNTI5GffbfiR5UUq5bs6aeYwxviCZDHabaZFT1eqxKI+BdZLPUkwvI8lwrFve86LISQMLIsDRRJJ+3+deK4CMZhuADwZA172MnmkEMoVWNZLaR0WNKvLQNiXpCqpMwj+vfpHxnP2uT79MZ0fVJSXaUUX+S6NqP5UptKoaVaZz9WsMMoVjSkRBFXnofgrArdaqUciY0d1pi8Wiq7Xq9JdxpZOEmTGE0KWUfttqtfpWa+3/PhQ56S5qhpQScs6Yz+eH5XL5o23br7Ft20+bzeZyu92+q7Xa4XDQ3/7kJEIIaJoGpRTkWR5yyd/X6/Xnq7dXN38AAAD//wMACIx0vRTnm20AAAAASUVORK5CYII=);
  height: 24px;
  width: 45px;
  border: none;
  color: #a0a0a0;
  padding: 0;
}

.media-select-wrapper .media-select button {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding-right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  width: 100%;
  height: 100%;
}

.media-select-wrapper select {
  display: none;
}

.media-select-wrapper .select-dropdown-wrapper {
  display: none;
  background-color: #e8e8e8;
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 1000;
  min-width: 90px;
  padding: 5px 0;
  margin: -1px -10% 0 0;
  font-size: 14px;
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
  background-clip: padding-box;
}

.media-select-wrapper .select-dropdown-wrapper.show {
  display: block;
}

.media-select-wrapper .select-dropdown-wrapper ul {
  max-width: 500px;
  max-height: 200px;
  padding: 0;
  margin: 5px 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  text-align: center;
}

.media-select-wrapper .select-dropdown-wrapper ul li {
  color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

#right_menu {
  background-image: url("../img/design/download-2.png");
}

.o-select li {
  font-size: 14px;
}

.dropdown-menu li a {
  font-size: 14px;
}

.position-select-box .select2-search--dropdown {
  display: none;
}

.position-select-box .select2-container--default .select2-search--dropdown .select2-search__field {
  display: none;
}

.position-select-box .select2-dropdown, .position-select-box .position-select-box .select2-results__options {
  min-width: 100px;
  width: 100% !important;
  background: #e8e8e8;
}

.position-select-box .select2-dropdown {
  overflow: hidden;
  border-radius: 4px;
}

.position-select-box .select2-results__option--selectable {
  cursor: pointer;
  width: 100%;
  min-height: 26px;
  padding: 3px 20px;
  overflow-x: hidden;
  clear: both;
  font-weight: 400;
  line-height: 1.428571429;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.position-select-box .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 14px;
  color: #333;
}

.o-button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 920px) {
  .o-button-group {
    margin-left: 20px;
  }
}

.btn-group.prevpublish {
  max-width: 140px;
}

.btn-group.prevpublish .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-group.prevpublish #loginbtn {
  height: 30px;
  width: 48px;
  background-repeat: no-repeat;
  background-position-y: -4px;
}

.dropdown-menu li a {
  color: #494d49;
  height: 35px;
  padding-bottom: 25px;
  padding-top: 6px;
  background: #e8e8e8;
  border-bottom: 1px solid #d0d0d0;
}

#pagebg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#pagebg .pages-selectbox {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pagebg .pages-selectbox label {
  margin-bottom: 0;
}

#pagebg p, #pagebg span {
  float: none;
}

#pagebg #addbtn, #pagebg #order-pages {
  background: none;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

#pagebg #order-pages {
  margin-right: 7px;
}

#swapp-palettes .tabbable.tabs-right .nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#swapp-palettes .tabbable.tabs-right .nav-tabs > li a {
  border-bottom: 1px solid #464646;
  color: #858585;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
  text-align: center;
  font-size: 15px;
}

#swapp-palettes .tabbable.tabs-right .nav-tabs > li a i {
  margin-left: 0;
  height: auto;
}

#swapp-palettes .tabbable.tabs-right .nav-tabs > li a:hover {
  text-decoration: none;
}

#iconwrapp .prevpublish a {
  height: 30px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#iconwrapp .prevpublish a i {
  margin-right: 2px;
}

/* Subnav button */
/* Add a red background color to navigation links on hover */
.subnav:hover .subnavbtn {
  background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav {
  overflow: hidden;
}

.subnav.show .subnav-content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.subnav-1 {
  margin-left: auto;
}

.subnav-1.show .subnav-content-1 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.subnav-1 .navbar-toggler {
  background: transparent !important;
  color: #fff !important;
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  padding-bottom: 0 !important;
  margin-bottom: 6px;
}

.subnav-1 .subnav-content-1 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subnav-content, .subnav-content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0 !important;
  background-color: #272727;
  width: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding: 5px 30px 5px 60px;
}

.subnav-content div, .subnav-content-1 div {
  color: white;
  text-decoration: none;
}

.subnav-content .group-res.control-group, .subnav-content-1 .group-res.control-group {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.subnav .navbar-toggler {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  font-size: 20px;
  padding-bottom: 2px;
}

.subnav .subnav-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(28%);
          transform: translateY(28%);
}

@media (min-width: 588px) {
  .subnav .subnav-content {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}

@media (min-width: 799px) {
  .subnav .subnav-content {
    -webkit-transform: translateY(71%);
            transform: translateY(71%);
  }
}

/* When you move the mouse over the subnav container, open the subnav content */
#icontext {
  width: calc(100% - 120px);
}

#icontext .responsive-navigation {
  width: 100%;
}

.navbar-toggler {
  background: transparent !important;
  color: #fff !important;
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  padding-bottom: 18px;
}

.right_aside_control {
  z-index: 88 !important;
}

#entete, #hautbas {
  position: relative;
  z-index: 100;
}

#navbarmenu {
  z-index: 999;
  position: relative;
}

.btn-group.prevpublish #playbtn {
  width: calc(100% - 50px);
}

.font-picker-control .fs-search {
  padding: 0;
  border: 0;
  height: 30px;
}

.font-picker-control .fs-search input {
  width: calc(100% + 2px);
  background-image: none;
  background-color: #1e1f1e;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  margin-left: -1px;
  height: 100%;
  border-radius: 0;
}

.font-picker-control .fs-results {
  background: #e8e8e8;
}

.font-picker-control .fs-results li {
  color: #494d49;
}

.font-picker-control .fs-results li.active {
  background: #c5c5c5;
}

.font-picker-control .fs-results li:hover {
  background: #c5c5c5;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #c5c5c5;
  color: #494d49;
}

.text-decoration-control select option:checked,
.text-decoration-control select option:hover {
  background: #c5c5c5;
  color: #494d49;
}

#fp_thumbContainer {
  height: calc(100% - 65px) !important;
  top: 65px;
}

#fp_thumbContainer #fp_thumbScroller {
  height: calc(100% - 50px);
}

#fp_thumbContainer .selectorcontainer .container {
  height: 100%;
  padding-bottom: 50px;
}

#fp_thumbContainer .selectorcontainer .container > div {
  height: 100% !important;
}

.tabs-right > .tab-content {
  height: 100%;
}

.tabs-right > .tab-content .nano > .nano-content {
  height: 100% !important;
}
/*# sourceMappingURL=style-o.css.map */