#fp_gallery {
    border-top: 1px solid #c6d0da;
    bottom: 0;
    height: 500px;
    left: 44px;
    position: fixed;
    top: 68px;
    z-index: 2000;
    width: 232px;
    display: none;
}

#fp_gallery *,
#fp_gallery *:after,
#fp_gallery *::before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

a{
    outline:none;
}

#fp_thumbContainer{
    position: fixed;
    /*top: 50px;*/
    /*bottom: 0;*/
    /*left: 50px;*/
    border-right: 1px solid #878787;
    overflow: hidden;
    background-color: rgba(255,255,255,0.7);
    height: 1051px;
    z-index: 6;
    box-shadow: 0px 0px 6px 0px #666;
    -moz-box-shadow: 0px 0px 6px 0px #666;
    -webkit-box-shadow: 0px 0px 6px 0px #666;
}
.selectorcontainer{
    position:relative;
    height: 100%;
    overflow:hidden;	
}
.selectorcontainer .container{
    width: 232px;
    position: relative;
    float: left;
    display: none;
    padding-left:5px
}

.selectorcontainer .component-selector{
    float: left;
    margin: 4px;
    background-color: #fff;
    text-align: center;
    width:100px;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
   text-align:center;
    word-wrap: break-word;
}

.selectorcontainer img{
    display:inline-block;
    margin-right:auto;
    margin-left:auto;
    max-width:100px;
    vertical-align:middle;
    line-height: normal;
}
.selectorcontainer a{
    padding:1px;
}

/* Apartir d'ici*/
.fp_scrollWrapper{
    display:none;
    height:300px;
    padding:1px;
    width:10px;
    position:fixed;
    margin: 50px auto auto 220px;
    /*background:#111;*/
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}
/*
.ui-widget-content{
    width:5px;
    background-color:#353535;
    position:relative;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}
*/
.ui-slider-vertical .ui-slider-handle{
    z-index:1;
    outline:none;
    cursor:pointer;
    border:none;
    height:15px;
    width:10px;
    background: #9b9b9b;
    margin-top:-7px;
    margin-left: 4px;
    width: 5px;
}
.ui-state-default {
    background-image:none;
}
/*/ Ok*/
/*.fp_prev_thumb,
.fp_next_thumb{
    background:transparent url(../../images/slidergallery/nav.png) no-repeat top left;
    position:absolute;
    left:8px; 
    height:15px;
    width:17px;
    cursor:pointer;
}*/
/*.fp_prev_thumb:hover{
    background-position:left top;
}
.fp_next_thumb:hover{
    background-position:right top;
}
.fp_prev_thumb{
    left:10px;
    background-position:left bottom;
}
.fp_next_thumb{
    right:10px;
    background-position:right bottom;
}*/
/*// jusqu'ici'*/
img.fp_preview{
    position:fixed;
    z-index:2;
    border:3px solid #fff;
    -moz-box-shadow:1px 1px 3px #000;
    -webkit-box-shadow:1px 1px 3px #000;
    box-shadow:1px 1px 3px #000;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);	
}
